/* ELISA CRUZ */
/* --------------- ADD CSS RESET TO THE FILE HERE --------------- */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* VARIABLES */
:root {
    /* COLORS */
   --buttons: #f48787;
   --background: #226e69;
   --white: #FFFFFF;
   --black: #000000;
   --hover: #e36262;
}
/* ----- SKIP LINK STYLES ----- */
/* skip link styles from: https://webaim.org/techniques/css/invisiblecontent/ */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
   
  #skip:focus{
    position: static;
    width: auto;
    height: auto;
  }
  body {
    background-color: var(--white);
  }
  header {
    width: 100%;
    position: sticky;
    background-color: var(--background);
    display: flex;
    align-items: end;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
  }
  #mobilebtn {
    position: fixed;
    top:5px;
    right:20px;
    background: #226e69ac;
    border:none;
    justify-self: center;
    height:60px;
    padding:0 10px;
  }
  /*** SIDE NAV ***/
  /* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

/* HOVER */
button:hover, a:hover, submit:hover{
background: var(--hover);
}
/* OVERLAY HOVER */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background: none;
}
/* Position the close button */
.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 55px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
 /* HORIZONTAL NAV */
  /* Style the horizontal navigation bar */
  .navbar {
    display: none;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
  }
  .navbar a, .dropbtn {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    
  }
  .navbar a:hover {
    background-color: var(--buttons);
    border-radius: 20px;
    color: black;
    transition: 0.5s;
  }
  .active {
    transition: 0.5s;
  }
  
  /* The dropdown container */
/* Dropdown button */
.dropdown .dropbtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--background);
  border: none;
  outline: none;
  color: var(--white);
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--buttons);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
 /* hide */
 .hideitem {
  display: none;
}
.home-grid {
  margin-top:20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-height: 400px;
}
#home-div2 {
  grid-row: 1/2;
  justify-self: center;
}
#home-div1 {
  grid-row: 2/3;
  justify-self: center;
}
p {
margin: 10px;
text-align: center;
font-size: 16px;
}
section {
  margin: 30px;
}
h1 {
  font-size: 30px;
  color: var(--white);
  font-family: tahoma;
  font-weight: bold;
  text-align: center;
}
  h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: tahoma;
    color: var(--background);
    margin: 24px;
  }
h3 {
  text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: tahoma;
    color: var(--black);
}
.main-p {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
  font-family: tahoma;
  color: var(--background);
}
.button {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  padding: 10px 25px;
  background-color: var(--buttons);
border-radius: 20px;
box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
display: flex;
text-align: center;
width: fit-content;
margin: 20px auto;
}
.border-sec {
  border: var(--background) solid 5px;
  border-radius: 50px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}
.green-back {
  background-color: var(--background);
  padding: 20px;
  margin: 20px 0;
}
.green-back h1, .green-back h2 {
color: var(--white);
}
#services-grid {
  display:grid;
  grid-template-columns: 1fr;
}
.service-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}
.icons {
  width: 70px;
  padding: 20px;
  margin: 25px 5px;
  border: solid 2px black;
  border-radius: 20px;
}
.sake-grid {
  display: grid;
  grid-template-columns: 1fr;

}
.sake-div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 300px;
  justify-self: center;
  margin: 5px auto;
}
#pawmetto, #ars {
  padding:20px;
  align-self: center;
}
#pawmetto {
  width: 200px;
}
#ars {
  width: 200px;
  height: 55px;
}
.sake-div p {
 text-align: left;
 padding-bottom: 10px;
}
/* FORM */
form {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
color: var(--white);
font-weight: bold;
}
#contact h2 {
  margin: 20px 5px;
  text-align: left;
  color: var(--white);
  font-weight: bold;
}
#required, .form-required {
  font-size: 16px;
  font-weight: 300;
}

#names, #nums, #method, #comment {
  grid-column: 1/2;
}
label, input, textarea {
display: block;
margin: 5px;
}
input[type=text], input[type=email], input[type=tel], textarea {
padding: 6px 10px;
border-radius: 7px;
border: none;
width: 80%;
}
fieldset {
  margin: 10px 0px;
}
.radio-label, input[type="radio"] {
  display:inline;
}
.required, .form-required {
  color: var(--buttons);
}
button {
  padding: 5px;
  background-color: var(--buttons);
  border-radius: 10px;
  border: none;
  color: var(--white);
  font-weight: 800;
  
}
/** FOOTER **/
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #818181;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
}
footer h3, footer p {
  margin: 5px;
}
#footer-add {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  padding: 10px;
}

#footer-hrs {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
}
small {
  grid-column: 1/3;
  text-align: center;
  font-style: italic;
}
/** SERIVICES **/
 h1 {
  color: var(--background);
  margin: 20px;
}
#service-intro p, #shop-intro p, #gal-intro p, #reviews-intro p{
margin:30px;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#services h2 {
  color: white;
}
.service-div h3 {
  margin-bottom: 20px;
}
.service-grid {
  display: grid;
}
#service-dog, #service-other {
  background-color: #226e69;
  padding: 20px;
  margin: 0 0 30px;
}
#service-intro img {
  width: 45vw;
  
}

#check-mark {
  width: 15px;
  display: inline;
  margin: none;
  padding: none;
}
.service-descript p{
  display: inline-block;
  margin: 5px;
  padding:none;
  font-size: 12px;
}
.service-descript {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
}
/** GALLERY **/
#gal-grid {
  margin: 50px 0 0 0;
  display: grid;
 grid-template-columns:1fr;
 grid-template-rows: auto;
 justify-items: center;
}
.gal-div img {
  margin: 0;
  width: 90%;
  justify-self: center;
  border-radius: 5px;
  border: solid 2px black;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.4);
}

/** REVIEWS **/
.star {
  width: 15px;
  margin-top: 10px;
}
.review-div div {
  align-self: center;
  padding-bottom: 10px;
  
}
#reviews-intro {
  border-bottom: solid 1px black;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
#review-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.review-div {
display: flex;
flex-direction: column;
  align-items: space-evenly;
  margin: 20px;
  padding: 30px 5px 20px;
  border-radius: 30px;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.9);
}
.review-div p {
  border-top:solid 1px black;
  text-align: center;
  margin: 5px 15px;
  padding-top:10px;
  line-height: 20px;
}
/** SHOP **/
#shop-intro, #gal-intro, #reviews-intro {
  margin-top: 50px;
}
#shop-grid, #gal-grid {
  margin: 80px 0 0;
  border-top: solid 1px black;
 padding-top: 30px;
}
.shop-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin: 20px auto;
  padding: 30px 5px 20px;
  border-radius: 30px;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.9);
}
.shop-div h3 {
margin-top: 10px;
}
.shop-img {
  width: 150px;
}
.service-div button {
margin-top: 20px;
grid-column: 1/3;
max-width: 150px;
justify-self: center;

}
/** REVIEWS **/
.review-div {
  max-width: 330px;
  justify-self: center;
  margin: 20px auto;
}

/** SCREEN OVER 550 **/
@media screen and (min-width: 550px) {
  header {
    justify-content: center;
    position: static;
  }
.navbar {
  display: flex;
}
.mobile-hide {
display: none;
}
.home-grid {
  grid-template-columns: 1fr 1fr;
}
#home-div1 {
  grid-row: 1/2;
}
.service-div {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
}
.service-div img {
  grid-row:1/3;
  justify-self: center;
}
#sake-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gal-div:first-of-type {
  grid-column: 1/2;
}
.gal-div:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.service-descript {
  margin-top: -30px;
}
footer {
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 70px;
}
#footer-add {
grid-row: 1/2;
}
#footer-hrs {
  grid-column: 2/3;
}
#shop-grid, #gal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#review-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#service-intro img {
  width: 36vw;
}
form {
  grid-template-columns: 1fr 1fr;
}
#method, #comment {
  grid-column: 2/3;
}
#method {
  grid-row: 1/2;
}
textarea {
  height: 70px;
}
#contact h3 {
  text-align: center;
}
}
@media screen and (min-width: 800px) {
  nav {
    margin-bottom: 10px;
  }
  .service-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-div {
    display: flex;
  }
  .service-descript {
    margin-top: 0px;
  }
  #service-intro img {
    width: 30vw;
  }
  #gal-grid {
  grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
  }
}
@media screen and (min-width: 870px) {
  #shop-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
  }
  #review-grid {
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  #shop-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#review-grid {
  grid-template-columns: 1fr 1fr 1fr;
}
}
@media screen and (min-width: 1500px) {
form {
  grid-template-columns: 1fr;
}
#nums, #method, #comment {
  grid-column: 1/2;
}
#bottom-grid, #top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}
main {
  margin: 0;
}
#sake-sec {
grid-column: 2/3;
}
#contact {
  grid-row: 1/2;
border-radius: 0 150px 150px 0;
margin-bottom: 0px;
}
#names {
  grid-row: 1/2;
}
#method {
  grid-row: 2/3;
}
#no-green {
  background-color: var(--white);
  margin-bottom: 140px;
}
#no-green h2 {
  color: var(--background);
}
#no-green .service-div {
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.9);
}
#button-hide {
  display: none;
}
#sake-grid {
  grid-template-columns: 1fr;
}
#gal-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#review-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}